body{
    margin: 0px;
    background-color: rgba(86, 182, 31, 0.474) !important;
}

nav{
    height: 66px;
    background-color: gray;
    border: 2px solid black;
    margin-bottom: 5px;
    border-radius: 5px;
}

h1{
    text-align: center;
    margin: auto;
    color: gainsboro;
    
}

.asside{
    padding: 5px;
    background-color: gray;
    height: 600px;
    width: 150px;
    position: fixed;
    border: 2px solid black;
    border-radius: 5px;
}

button{
    margin-left: 15px !important;
    text-align: center !important;
    height: 40px !important;
    width: 100px !important;
    border-radius: 5px !important;
    border: 2px solid black;
    font-weight: bold;
}

button:hover{
    transition-duration: 2s !important;
    background-color: black !important;
    color: white !important;
    width: 200px !important;
    transition-property: background-color !important;
    transition-duration: 2s !important;
}

.exercice{
    background-color: gray;
    margin-left: 150px;
    margin-top: 10px;
}

p{
    margin-left: 15px;
    padding-top: 10px;
    text-decoration: underline;
}

.testDiv{
    height: 40px;
    border-radius: 5px;
    border: 2px solid black;
}

#map {
    border-radius: 5px;
    border: 2px solid black;
    margin-top: 30px;
    height: 500px;
    width: 100%;
   }
